APP_NAME=My App
DB_URL=jdbc:mysql://localhost:3306/communityknights?sslMode=DISABLED&allowPublicKeyRetrieval=true
DB_USER=ck_local
DB_PASS=CHANGEME
MAIL_USERNAME=cknights.noreply@gmail.com
MAIL_PASSWORD=CHANGEME
